.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 2rem;
  /* padding: 1rem; */
}

.role {
  font-size: 1em;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 2rem;
  padding: 2rem;
  background-color: var(--ui-background-color-wo);
  box-shadow: 0 0 10px var(--ui-border-color);
  border-radius: 0.5rem;
  border-color: transparent;
  border-width: 1px;
}

@media screen and (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin: 2rem;
  }
}
