.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.hero-left {
  font-style: italic;
  width: 50vw;
  text-align: center;
  padding-left: 1rem;
  margin: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--ui-text);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.hero-right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  border-left-width: 4px;
  border-color: #6b7280;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }
}
