.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  box-shadow: 0 0 10px var(--ui-border-color);
  background-color: var(--ui-background-color-wo);
  border-radius: 10px;
  padding: 1rem;
}

.name {
  font-size: 1em;
  font-weight: 700;
}

.institution {
  font-size: 1em;
  font-weight: 400;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin: 2rem;
  }
}
