.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 50vw;
}

.imgSize {
  width: 50%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 50vw;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: rgba(39, 39, 43, 0.4);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100vw;
  }
  .right {
    width: 100vw;
  }
}
