@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-color: #0225c4;
  --background-end-color: #fababa;
  --ui-background-color: rgb(255, 210, 210);
  --ui-background-color-opacity: rgb(255, 210, 210, 0.8);
  --ui-text-color: black;
  --ui-border-color: (255, 255, 255, 0.1);
  --ui-text-neutral: 700;
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-color: #0a1020;
  --background-end-color: #8f0088;
  --ui-background-color: rgb(0, 0, 0);
  --ui-background-color-opacity: rgb(0, 0, 0, 0.8);
  --ui-text-color: white;
  --ui-border-color: (0, 0, 0, 0.1);
  --ui-text-neutral: 300;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, var(--background-start-color), var(--background-end-color));
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
