@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* for mobile menu */
  .slide-in {
    @apply transform translate-x-full transition-transform ease-in-out duration-300;
  }
  .slide-out {
    @apply transform translate-x-0 transition-transform ease-in-out duration-300;
  }
}

.light-mode {
  --foreground-rgb: 0, 0, 0;
  --background-start-color: #55a0cc;
  --background-end-color: #fababa;
  --ui-background-color: rgb(245, 245, 245);
  --ui-background-color-opacity: rgba(245, 245, 245, 0.8);
  --ui-text-color: rgb(27, 27, 27);
  --ui-border-color: rgb(27, 27, 27, 0.1);
  --ui-text-neutral: 700;
  --bg-color: rgb(245, 245, 245);
  --seperator-color: rgb(27, 27, 27, 0.5);
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-color: #0a1020;
  --background-end-color: #8f0088;
  --ui-background-color: rgb(0, 0, 0);
  --ui-background-color-opacity: rgb(27, 27, 27, 0.8);
  --ui-text-color: rgb(245, 245, 245);
  --ui-border-color: rgba(0, 0, 0, 0.1);
  --ui-text-neutral: 300;
  --bg-color: rgb(27, 27, 27);
  --seperator-color: rgb(245, 245, 245, 0.5);
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
}

footer {
  display: flex;
  position: relative;
  margin-top: auto;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: var(--ui-background-color);
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
